:root {
  --dark-bg: rgba(15, 15, 15, 0.55);
  --cyan: rgb(30, 242, 241);
  --magenta: rgb(246, 5, 10);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Nanum Gothic Coding', monospace;
}

p {
  margin: 0;
  width: 70%;
  margin: 0 auto;
}

.newMeans {
  width: 100%;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.anaglyph {
  position: relative;
  font: normal 60px / normal 'Chau Philomene One', Helvetica, sans-serif;
  color: rgb(51, 51, 51);
  text-align: center;
  letter-spacing: 3px;
  text-shadow: -3px 0 1px var(--cyan), 3px 0 1px var(--magenta);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#title {
  position: absolute;
  margin-left: 2rem;
}

section {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  border-radius: 0.5rem;
  margin-top: 340px;
  margin-bottom: 230px;
}

#info {
  width: 40%;
}

#goals {
  width: 40%;
  align-self: flex-end;
}

#exp {
  width: 50%;
}

.cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  bottom: 10;
  margin: 0 auto;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.frank {
  height: 100px;
  filter: grayscale(100%);
  position: relative;
  top: 38.6%;
  left: 15%;
  text-align: center;
  transition: 0.5s;
  user-select: none;
}

.frank a {
  text-decoration: none;
  color: white;
}
.frank a:hover {
  cursor: pointer;
}

.frank:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: darkmagenta;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%, 0.4%);
  }
}
